@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: auto;
}

.banner {
    background-image: url(../assets/Hero-bg.png);

    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    padding: 38px 0px;
    ;

    gap: 32px;



}

.banner-image {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}


.banner-heading {

    color: #0D1321;
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
}

.banner-description {
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    padding-bottom: 20px;
}

.banner-btn {
    color: #FFFF;
    background-color: #0D1321;
    width: 195px;
    height: 45px;
    font-size: 18px;
    border-radius: 9px;
    border: none;
}

.banner-btn a {
    text-decoration: none;
    color: #FFFFFF;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 38px;

}

.section {}

.section-description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 58px;
}

.section-heading {
    font-size: 32px;
    color: #0D1321;
    font-weight: bold;
    text-align: center;
}

.banner-descrip {
    font-size: 13px;
    font-weight: 600;
    height: 52px;
    color: #757575;
    text-align: center;
}

.sec-des-title {
    margin: 0px;
    text-align: left;
}

.section-head {
    color: #0D1321;
    font-weight: 800;
    font-size: 24px;
}

.section-dec {
    font-weight: 600;
    font-size: 13px;
    color: #757575;

}

.sec-btn {
    font-weight: bold;
    font-size: 18px;
    max-width: 132px;
    height: 30px;

}

.video {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 145px;

}

iframe {
    border-radius: 15px;
}

.last-description {}

.all-description {
    display: flex;
    justify-content: center;
    height: 30%;
    margin-bottom: 48px;
}

.last-descrip {
    text-align: left;
    height: 3/1;

}

.last-des-title {
    font-weight: bold;
    font-size: 32px;
    color: #0D1321;
}

.btn-last {
    max-width: 284px;
    font-weight: bold;
    font-size: 18px;
    color: #0D1321;
    text-decoration: none;
    border-top: none #757575;
    border-left: none;
    border-right: none;


}

.footer-des {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),

        url(../assets/handshake.jpg);
    height: 100%;
    max-width: 80%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    padding-top: 48px;
    padding-bottom: 48px;

}

.footer-title {
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    padding-bottom: 20px;

}

.banner-descr {
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
    padding-bottom: 20px;

}

.sss {
    display: flex;


}

.textarea {
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 30%;
    font-size: 16px;
    font-weight: 200;
    padding: 13px;
    margin-bottom: 24px;
    border: none;
    text-align: left;
}

#input {
    padding: 10px 20px;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 221px;



}

nav ul {
    display: flex;

}

nav ul li {
    list-style: none;


}

nav li a {
    text-decoration: none;
    margin: 10px;
}

nav h5 {
    font-size: 20px;
    font-weight: 700;
}